{% extends 'base.html' %}

{% block body %}
    <h1>Post list </h1>
    {% if user.is_superuser %}
        <p>Hello, admin.</p>
    {% elif user.is_active %}
        <p>Hello, {{user.username}}</p>
    {% else %}
        <p> Hello, guest! You can register or login</p>
    {% endif %}

    {% if user.is_authenticated and user.is_superuser %}
        <a href = "{%url 'new_post' %}" class = "btn btn-info">Create</a>
        <a href = "{%url 'delete_all' %}" class = "btn btn-danger">Delete all</a>
    {% elif user.is_authenticated%}
        <a href = "{%url 'new_post' %}" class = "btn btn-info">Create</a>
    {% else %}
        <p>You need to login to create posts!</p>
    {% endif %}
    <hr/>


    {% for post in post_list %}
        <h4> <a href="{%url 'read_post' post.id%}"> {{post.title}}</a></h4>
        <p>Post Author is: {{post.author}}</p>
        <p>{{post.content}}</p>
        <p>Was published :{{post.date_published}}</p>
        <hr/>
        {% if user.is_authenticated and user.is_superuser %}
            <a href = "{% url 'update_post' post.id%}" class = "btn btn-info">Update</a>
            <a href = "{% url 'delete_post' post.id%}" class = "btn btn-danger">Delete</a>
            <br>
            <br>

            {% for comment in post.comments.all%}
                 <div class="comment">
                    <div class="date">{{ comment.created_date }}</div>
                    <strong>Name: {{ user.username }}</strong> <br>
                        <strong> Email: {{comment.email}}</strong>
                    <p>{{ comment.comment_text|linebreaks }}</p>
                </div>
            {% empty %}
                <p>No comments here yet :(</p>
            {% endfor %}
            <button class="btn btn-warning" onclick = "create_comment()">Add Comment</button>
            <script>
            function create_comment()
            {
                location.href = "{% url  'create_comment' post.id %}";
            }
            </script>

        {% elif user.is_authenticated %}
            <a href = "{% url 'update_post' post.id%}" class = "btn btn-info">Update</a>
            {% for comment in post.comments.all%}
                 <div class="comment">
                    <div class="date">{{ comment.created_date }}</div>
                    <strong>Name: {{ user.username }}</strong> <br>
                    <strong> Email: {{comment.email}}</strong>
                    <p>{{ comment.comment_text|linebreaks }}</p>
                </div>
            {% empty %}
                <p>No comments here yet :(</p>
            {% endfor %}
            <button class="btn btn-warning" onclick = "create_comment()">Add Comment</button>
            <script>
            function create_comment()
            {
                location.href = "{% url  'create_comment' post.id %}";
            }
            </script>
        {% else%}
            {% for comment in post.comments.all%}
                 <div class="comment">
                    <div class="date">{{ comment.created_date }}</div>
                    <strong>Name: Anonymous </strong> <br>
                    <strong> Email: {{comment.email}}</strong>
                    <p>{{ comment.comment_text|linebreaks }}</p>
                </div>
            {% empty %}
                <p>No comments here yet :(</p>
            {% endfor %}
            <button class="btn btn-warning" onclick = "create_comment()">Add Comment</button>
            <script>
            function create_comment()
            {
                location.href = "{% url  'create_comment' post.id %}";
            }
            </script>
        {% endif %}
    {% endfor %}
{% endblock %}