{% extends "base.html" %}
{% block body %}
    <h1>Todos in "List-1"</h1>
    <hr>
    <button class="btn btn-primary">Add</button>
    <table class="table">
        <thead class="thead">
            <tr>
                <td>
                    <a href="{%url '_filter' 'title' %}">Title</a>
                </td>
                <td>
                    <a href="{%url '_filter' 'created' %}">Created</a>
                </td>
                <td>
                    <a href="{%url '_filter' 'due_on' %}">Due on</a>
                </td>
                <td>
                    <a href="{%url '_filter' 'owner' %}">Author</a>
                </td>
                <td>
                    <a href="{%url '_filter' 'mark' %}">Mark</a>
                </td>
                <td>
                    Check
                </td>
            </tr>
        </thead>
        <tbody class="t_body">
            {% for task in tasks %}
                <tr>
                    <td>
                        <a href="#">{{task.title}}</a>
                    </td>
                    <td>{{task.created|date:"d/m/Y"}}</td>
                    <td>{{task.due_on|date:"d/m/Y"}}</td>
                    <td>{{task.author.first_name}} {{task.author.last_name}}</td>
                    <td>
                            <a href="{%url 'change_mark' task.id%}" class="btn btn-info">
                            {% if task.mark%}
                                Not Done
                            {% else %}
                                Done
                            {% endif %}
                            </a>
                    </td>
                    <td>
                        <a class="btn btn-danger" href="{%url 'delete' task.id%}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
    <p>
        <a href="{%url 'completed_todos'%}" class="btn btn-warning">View Completed Tasks</a> 
    </p>
{% endblock body %} 