{% extends "base.html" %}
{% block body %}
<h1>All Restaurants</h1>
<hr>
<form action="{%url 'add_restaurant'%}" method="get">
    <button type="submit" class="btn btn-primary">Add</button>
</form>

<table class="table">
    <thead>
        <td>Name</td>
        <td>Telephone</td>
        <td>City</td>
        <td>User</td>
        <td>Update</td>
        <td>Delete</td>
    </thead>
    <tbody>
        {% for rest in restaurants %}
            <tr>
                <td><a href="">{{rest.name}}</a></td>
                <td>{{rest.telephone}}</td>
                <td>{{rest.city}}</td>
                <td>{{rest.user.username}}</td>
                <td>
                    <form action="{%url 'update_restaurant' rest.id%}" method="get">
                        <button type="submit" class="btn btn-warning">Update</button>
                    </form>
                </td>
                <td>
                        <form action="{%url 'delete_restaurant' rest.id%}" method="get">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
            </tr>

        {% endfor %}
    </tbody>

</table>

{% endblock body %}